{{#if user.place}}
  <div class="place-name">
    {{d-icon 'home'}}
    {{user.place.place_name}}
  </div>
  <div class="place-points">
    {{d-icon 'circle'}}
    {{user.place_points}}
  </div>
{{/if}}
