<div class="controls">
  {{place-select-box value=selectedId
                     width=300
                     filterable=true
                     noneRowComponent='add-place-row'}}
  <div class='instructions'>
    {{i18n 'place.select.instructions'}}
  </div>
</div>
<div class='controls'>
  {{d-button label='user.set_place'
             action='setPlace'
             disabled=setDisabled
             class="btn btn-primary"
             icon='check'}}
  {{conditional-loading-spinner size="small" condition=loading}}
</div>
