<div class="controls">
  {{place-select-box value=selectedId
                     type=type
                     width=300
                     filterable=true
                     noneRowComponent=noneRowComponent
                     none=none}}
  <div class='instructions'>
    {{i18n instructions}}
  </div>
</div>
<div class='controls'>
  {{d-button label='place.set'
             action='setPlace'
             actionParam=selectedId
             disabled=setDisabled
             class="btn btn-primary"
             icon='check'}}
  {{conditional-loading-spinner size="small" condition=loading}}
</div>
