<div class="controls">
  {{place-select-box value=selectedId
                     content=places
                     width=300
                     none='place.select.placeholder'
                     filterable=true
                     noneRowComponent='none-place-row'
                     noContentLabel=''}}
  <div class='instructions'>
    {{i18n 'place.select.instructions'}}
  </div>
</div>
<div class='controls'>
  {{d-button label='user.set_place' action='setPlace' disabled=setDisabled class="btn btn-primary"}}
  {{conditional-loading-spinner size="small" condition=loading}}
</div>
