.place-user-controls {
  padding: 20px 0;

  &.show-petition .place-set {
    padding-bottom: 20px;
  }

  .p-note {
    margin: 10px 0;
    width: initial;
    float: none;
  }

  .controls {
    width: 100%;

    .select-kit {
      width: 100%;
    }
  }

  .extra-controls {
    margin-top: 20px;

    .p-text {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  .controls .select-kit-body {
    max-width: 100% !important;
  }

  .place-petition {
    .container {
      max-width: 100%;
    }

    .petition-search {
      display: inline-block;
      margin-top: 10px;
    }

    .p-list-box {
      max-width: 100%;
    }

    .similar-titles {
      width: calc(100% - 2px);
    }
  }
}
