.place-user-controls {
  padding: 20px 0;

  .p-note {
    margin: 10px 0;
    width: initial;
    float: none;
  }

  .extra-controls {
    margin-top: 20px;

    .p-text {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  .controls .select-kit-body {
    max-width: 100% !important;
  }
}
