{{#if category.place}}
  <section class="field">
    <label>
      {{input type='checkbox' checked=category.custom_fields.place_user}}
      {{i18n 'place.user.label'}}
    </label>
  </section>

  <section class="field">
    {{i18n 'place.user_count_min.label'}}
    <label>
      {{input type="number" value=category.custom_fields.place_user_count_min}}
    </label>
  </section>
{{/if}}
