{{#if category.is_place}}
  <section class="field">
    {{i18n 'place.user_count_min.label'}}
    <label>
      {{input type="number" value=category.custom_fields.user_count_min}}
    </label>
  </section>
{{/if}}
