.instructions {
  margin-top: 5px;
  margin-left: 2px;
  margin-bottom: 10px;
  font-size: 80%;
  line-height: 1.4em;
  color: #919191;
}

.town-set {
  display: inline-block;

  .title {
    margin: 5px 0;
  }

  .controls {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;

    button {
      min-height: 32px;
    }
  }

  .instructions {
    @extend .instructions;
  }

  .combobox {
    .select2-arrow b {
      background-position-y: 8px;
      background-position-x: -5px;
    }

    .select2-choice {
      border: none;
    }

    .select-kit-row.hidden {
      display: none;
    }
  }

  .p-text {
    margin-top: 10px;
  }
}

.select-kit.combo-box.place-select-box {
  width: 400px;
}

.place-user-controls {
  padding: 15px;

  div.container {
    padding: 30px 0;

    &:first-of-type {
      padding-top: 0;
    }
  }

  div.town-set {
    padding-bottom: 10px;
  }

  span, .p-text:not(.medium, .large), input, li {
    font-size: 16px;
  }

  .title span {
    font-size: 1.5em;
    margin-bottom: 15px;
    vertical-align: middle;
  }

  .title p {
    margin: 0;
  }

  .title img {
    margin-left: 5px;
  }

  .title-emoji {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }

  .description {
    display: inline-block;
  }

  .controls-container {
    margin-top: 15px;
    max-width: 800px;
  }

  .p-text {
    margin-top: 5px;
    max-width: 500px;

    p {
      margin: 0;
    }
  }

  .place-home {
    .controls {
      display: inline-block;
      vertical-align: top;
      margin-top: 15px;

      .combo-box {
        width: 300px;
      }

      .btn {
        margin-left: 10px;
      }
    }
  }

  .town-add {
    clear: both;
    border-top: 1px solid $tertiary;

    .location-selector-container {
      display: inline-block;
      vertical-align: top;
      width: 400px;
      margin-right: 5px;

      .ac-wrap {
        width: 100% !important;
      }
    }

    .instructions {
      @extend .instructions;
    }
  }
}

.neighbourhood-petition {
  .description p {
    margin-top: 0;
  }
  .search-title {
    font-weight: 800;
    margin-bottom: 5px;
  }

  .search {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    input {
      margin-bottom: 0;
      margin-right: 10px;
      border-radius: 4px;
    }
  }

  .p-list-box {
    width: 550px;

    .similar-titles {
      border-radius: 4px;
      height: 130px;
      padding: 5px 0;
    }
  }
}

.town-update {
  margin-top: 5px;

  .p-text {
    padding: 5px 0;
  }

  .regions {
    display: flex;
    align-items: center;

    > div {
      margin-right: 10px;
    }
  }
}

ul.user-nav > span {
  float: left;
  margin-right: 5px;

  a {
    border: none;
    padding: 5px 12px;
    color: dark-light-choose(scale-color($primary, $lightness: 40%), scale-color($secondary, $lightness: 40%));
    font-size: 1.143em;
    line-height: 20px;
    transition: background .15s;
    display: block;
    text-decoration: none;

    &:hover {
      color: $quaternary;
      background-color: dark-light-diff($quaternary, $secondary, 70%, -70%);
    }

    &.active {
      color: $secondary;
      background-color: $quaternary;
    }

    .d-icon {
      margin-right: 5px;
      opacity: .65;
    }
  }
}

.user-place-link {
  display: inline-block;
}

.step-title {
  margin-bottom: 50px;

  .p-text {
    margin-bottom: 0 !important;
  }

  img {
    margin-right: 10px;
  }

  .p-text, img {
    display: inline-block;
    vertical-align: middle;
  }
}

.place-checklist {
  padding: 10px 15px;

  .checklist-title {
    display: inline-block;
    margin-bottom: 7px;
  }

  ul {
    margin: 0;
    list-style: none;
  }

  .strikethrough {
    text-decoration: line-through;
  }

  .check-circle {
    display: inline-block;
  }

  i.active {
    color: $success;
  }
}

.place-details {
  margin-top: 7px;

  ul {
    margin: 0;
    list-style: none;
  }
}

.place-user-details {
  display: flex;
  align-items: center;

  .place-name-label {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  span, i {
    line-height: 20px;
  }

  i:first-of-type {
    color: $primary-medium;
    margin-right: 5px;
  }

  .place-name-label i {
    margin-left: 0;
    font-size: 1.1487em;
  }
}

.user-main .about .details .primary h2.full-name + span {
  display: block;
  margin-left: 50px;
}

.about-list .elections {
  display: inline-block;

  li {
    margin: 0;
  }
}

.about-list-controls {
  .notification-options {
    position: relative;
  }

  .dropdown-menu {
    bottom: initial;
    top: 21px;
  }
}

.civically-place .dropdown-menu {
  top: -180px;
  left: 165px;
}

.list-not-permitted {
  margin-top: 5px;
  margin-bottom: 0;

  li {
    margin: 3px 0;
  }
}
